<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= title%></h1>
    <div>이름 : <%= userInfo.id%></div>
    <div>성별 : <%= userInfo.gender%></div>
    <div>생년월일 : <%= userInfo.year%>년 <%= userInfo.month%>월 <%= userInfo.day%>일</div>
    <div>관심사 : <%= userInfo.interest%></div>
    <div>방문날짜 : <%= userInfo.visit%></div>
    <div>좋아하는 색 : <%= userInfo.color%></div>

    <a href="./">홈으로 돌아가기</a>
</body>
</html>